<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /index.html [L]



  Redirect 301 /Honeymoon-packages https://www.risezonictravel.com/indian-honeymoon-tour-packages


</IfModule>
