@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
.active {
    /* font-weight: bold; */
    color:yellow
  }
  
/* right side call icon start  */

.lets-Connect {
    position: fixed;
    /* width: 60px;
    height: 60px; */
    border-radius: 50%;
    bottom: 150px;
    left: 15px;
    background-color: white;
    color: #fff;
    /* border-radius: 50px; */
    text-align: center;
    /* font-size: 30px; */
    box-shadow: 2px 2px 3px #999;
    z-index: 100;
}

/* Style the dropdown button */
.corporatedropbtn,
.b2cdropbtn {
  cursor: pointer;
}

/* Position the dropdown content */
.corporatedropdown-content,
.b2cdropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Show the dropdown content when the container is hovered over */
.dropdown-container:hover .corporatedropdown-content,
.dropdown-container:hover .b2cdropdown-content {
  display: block;
}

/* Style the links inside the dropdown */
.corporatedropdown-content a,
.b2cdropdown-content a {
  color: #333;
  padding: 12px 16px;
  display: block;
  text-decoration: none;
}

/* right side call icon end  */

/* whatsapp .icon  start */
.whats-app {
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 150px;
    right: 15px;
    background-color: #25d366;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 2px 2px 3px #999;
    z-index: 100;
}

.my-float {
    margin-top: 13px;
    margin-left: 11px;
}
/* whatsapp .icon  end */


.chat-modal {
  /* display: none; */
  position: fixed;
  /* top: 50%;
  left: 50%;  */
  bottom: 0;
  right: 0;
  /* transform: translate(-50%, -50%); */
  background-color: black;
  border: 1px solid #ccc;
  /* color: #aaa; */
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  z-index: 9999;
  padding: 12px;
  overflow: hidden;
}

/* navbaar css  */
/* Base styles for the navigation */
.phonenav {
  position: fixed;
  top: 0;
  left: 0;
  width: auto; /* 48px * 3 = 144px = 12rem */
  height: 100vh; /* 96px * 3 = 288px = 24rem */
  background-image:   linear-gradient(326deg, rgba(236, 236, 236,0.04) 0%, rgba(236, 236, 236,0.04) 6%, rgba(157, 157, 157,0.04) 6%, rgba(157, 157, 157,0.04) 29%, rgba(77, 77, 77,0.04) 29%, rgba(77, 77, 77,0.04) 100%),
  linear-gradient(164deg, rgba(236, 236, 236,0.04) 0%, rgba(236, 236, 236,0.04) 36%, rgba(157, 157, 157,0.04) 36%, rgba(157, 157, 157,0.04) 61%, rgba(77, 77, 77,0.04) 61%, rgba(77, 77, 77,0.04) 100%),
  linear-gradient(336deg, rgba(236, 236, 236,0.04) 0%, rgba(236, 236, 236,0.04) 64%, rgba(157, 157, 157,0.04) 64%, rgba(157, 157, 157,0.04) 69%, rgba(77, 77, 77,0.04) 69%, rgba(77, 77, 77,0.04) 100%),
  linear-gradient(90deg, rgb(0,0,0), rgb(0,0,0));
  z-index: 20;
  transform: translateX(-100%);
  opacity: 0;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

/* When the navigation is open */
.phonenav.open {
  transform: translateX(0);
  opacity: 1;
}
